<div class="span thumb">
		<%= link_to image_tag(pic.pic_file.url(:thumb)), pic.pic_file.url, title: pic.title, rel:  'lightbox' %>
		<p><%= truncate pic.title, :length => 17 %> </br>
	<% if current_user?(pic.user) %>
			<%= link_to "edit", edit_pic_path(pic.id) %>
			<%= link_to 'X', pic_path(pic.id), :method => :delete, 
			:remote => true, 
			:confirm => "are you sure?", 
			:disable_with => "X", 
			:class => 'close' %>
	<% end %>
		</p>
</div>
