@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$lightTan: #BCB04E;
$mugenTan: #CDC05F;
$darkerTan: #908641;
$darkestTan: #534B10; /*for top navbar stuff */
$reddish: #980505;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  background-color: $mugenTan;
}
.container {  
  width: 1200px;
}

.span8{
  width: 590px;
  margin-left: 10px;
}

.span4{
  width: 290px;
  margin-left:10px;
}

.row {
  margin: 0px;
}

.thumb {
  margin-left: 10px;
}

.comment {
  width: 260px;
  margin-left: 9px;
  border: 1px solid $darkerTan;
}
.comment-user{
  border: 1px solid $darkerTan;
  margin-top: 0px;
  margin-bottom: 8px;
}
.comment-content{
  border: 1px solid $darkerTan;
}
.comment-footer{
  border: 1px solid $darkerTan;
}
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.navbar-inverse .navbar-inner{ /*this was a serious pain in the ass to find and change */
  background-color: $darkestTan; 
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}



#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $reddish;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/*  sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $reddish;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* comments sidebar (right side) */
 

.right-aside {  
   section {
      padding: 10px 0;
      border-top: 1px solid $reddish;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box-sizing;
}

.gallery-comment-form {

  width: 300px;
  height: 80px;
  @include box-sizing;
  textarea{
    height: 60px;
  }
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

aside {
  select, textarea, input {
    height: 40px;
    font-size: .8em;
    padding: 4px;
    margin-bottom: 7px;
  }
  input {
    border: none;
  }
}

/* pagination buttons and such */
.pagination{
  margin: 0px;
  height: 30px;
  a{
    background-color: $mugenTan;
    border: 1px solid $darkestTan;
    color: $lightTan;
    padding: 0 5px;
    line-height: 23px;
    &:hover{
       background-color: $lightTan;
    }
  }
  .active{
    a{
      background-color: $darkerTan;
      color: $reddish;
    }
  }
  .disabled{
    a{
      color: $lightTan;
      }
  }
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  div {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $darkerTan;
    &:last-child {
      border-bottom: 1px solid $darkerTan;
    }
  }
}

/* galleries */
.gallery {
  border: 1px solid $reddish;
}
.galleries  {
  list-style: none;
  margin: 10px 0 0 0;

  div{
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.comment-form{
  border-top: 1px solid #e8e8e8;
}

.gallery-comment-form{
  padding-left: 20px;
}

.gallery-comments{
  line-height: 15px;
}

.gallerytitle{
  display: block;
  font-size: 1.3em;  
}

.gallerydescription{
  display: block;
}

.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}

/* pics */

 .pic_thumb {
  margin-bottom: 5px;
 }

.all-pics {
  display: block;
  border: 1px solid #e8e8e8;

  row { 
    list-style: none;

    .span {
      display: inline;

      a {
        display: block;
        float: left;
        padding: 5px;
        margin-right: 7px;
        margin-bottom: 3px;
        opacity: 0.69;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        transition: all 0.3s linear;

        &:hover {
          opacity: 1.0;
        }



        img {
          border: 6px solid #e1d9ec;
        }
      }
      p { /* this is for edit/delete under thumbnails */
        a {
          padding: 2px;
          margin-right: 2px;
          
        }

      }
    }
  }


}

/* lightbox hacks */
#lightbox-container-image-data-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

